.field{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    font-size: 2rem;
}

.field-input{
    font-size: 2rem;
    margin: .8rem;
    padding: .8rem;
    border-radius: 24px;
    border: 1px solid gray;
}

