form{
    width: 60%;
    justify-self: center;
    padding: 1.5rem;
    margin: 1rem;
    border: 2px solid gray;
    border-radius: 32px;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form section{
    display: flex;
    flex-direction: column;
}

form section h1{
    text-align: center;
    background-color: rgb(231, 230, 230);
    font-size: 2rem;
    padding: .5em;
}

.form-block{
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 32px;

}

.btn-block{
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.delete-btn{
    width: 30px;
}

.add-btn{
    align-self: center;
    width: 60px;
}

.submit-btn{
    align-self: center;
    width: 100%;
    font-size: 2rem;
    padding: .5em .8em;
    margin: 1em 0;
    border-radius: 32px;
}

.edit-btn{
    width: 50px;
    margin: 1rem;
}

@media (max-width: 900px){
    form{
        width: 90%;
    }
}