header{
    font-size: 1.5rem;
    padding: .3em 1.1em;
    margin-bottom: 2em;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reset-btn{
    width: 50px;
}