.output{
    width: 50%;
    min-height: 900px;
    justify-self: center;
    padding: 2rem;
    margin: 1rem;
    border: 2px solid gray;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.name-output,
.detail-output{
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    margin: 8px;
}

.detail-output{
    font-size: 1rem;
}

.general{
    margin-bottom: 1rem;
}

.section-label{
    border-bottom: 2px solid black;
    margin: 0;
}

.block-output{
    display: flex;
    justify-content: space-between;
}

.left-side p{
    margin-top: 0;
}

.left-side h3{
    margin-bottom: .2rem;
}

@media (max-width: 900px){
    .output{
        width: 90%;
    }
}