*{
  color: black;
}

body{
  padding: 0;
  margin: 0;
}


.thin-font{
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.thick-font {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}